
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="bd-example" data-example-id="">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://72b.7e5.myftpupload.com/test/" allowfullscreen=""></iframe>
        </div>
    </div>